{% if diaporama.getDiaporamaPictures|length > 0%}
<div id="products_example" class="diaporama">
    {% for dp in diaporama.getDiaporamaPictures %}
        {% if dp.getIsActif%}
        <a href="{{ dp.getPicture.getMediumSrc}}"><img src="{{ dp.getPicture.getMiniSrc}}" data-big="{{ dp.getPicture.getLargeSrc}}" alt="1144953 3 2x"></a>
        {% endif %}
    {% endfor %}
</div>
{% endif %}