{% if locale == 'en' %}
    {{ diaporama.getTitleEn }}
{% elseif locale == 'fr' %}
    {{ diaporama.getTitle }}
{% endif %}
{% if diaporama.getDiaporamaPictures|length > 0%}
<div id="products_example" class="diaporama">
                {% for dp in diaporama.getDiaporamaPictures %}
                    {% if dp.getIsActif%}
                    <img src="{{ dp.getPicture.getSrc}}" width="366" alt="1144953 3 2x">
                    {% endif %}
                {% endfor %}
</div>
{% endif %}