{% extends 'WinzeBackendBundle::layout.html.twig' %}
{% block content %}
<h2>Ajouter une Menu</h2>
{% if app.session.hasFlash('error') %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ app.session.flash('error') }}
</div>
{% endif %}
{% include 'WinzeBackendBundle:Backend:menu.form.html.twig' with {'formAction':path('admin_menu_add'), 'form':form}%}
{% endblock %}