<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Actif ?</th>
            <th>Action</th>
        </tr>
    </thead>
    <tboby>
        {% if pages|length > 0 %}
            {% for page in pages %}
                {% include 'WinzeBackendBundle:Backend:page.list.line.html.twig' with {'page':page, 'key':1} %}
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">Pas de page créée</td>
        </tr>
        {% endif %}
    </tboby>
</table>